# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/
*.egg-info/
*.egg
*.swp
*.bak
*.tmp

# -----------------------------
# Віртуальне оточення
# -----------------------------
.venv/
venv/
ENV/
env/

# -----------------------------
# PyCharm
# -----------------------------
.idea/
*.iml
saved_models/
saved_basic_models/
test_algorithms/
logs/
uploaded_models/
*.pkl

# -----------------------------
# Логи
# -----------------------------
*.log

# -----------------------------
# Системні файли
# -----------------------------
.DS_Store
Thumbs.db